<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </title>
</head>

<body>
  <div>
    <h2>Ingrese el tweet (español) para evaluar el sentimiento: </h2>
    <h3>Sin sentimiento, neutro, positivo, negativo</h3>
    {% from "_formhelpers.html" import render_field %}

    <form action="/results" method="POST">
      <dl>{{ render_field(form.tweet, cols='30', rows='10') }}</dl>
      <div>
        <input type="submit" name="submit_btn" value="Evaluar tweet">
      </div>
    </form>

    <div>
      <form action="/sqliteReport" method="POST">
        <input type="submit" name="report" value="Reporte de clasificaciones">
      </form>
    </div>
  </div>

</body>

</html>
